<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Booking History - Bearcut</title>
  </head>
  <body>
    <p><strong>History</strong><br>
    This is your recent haircut.</p>
    {% for book in history %}
    <ul>
      <li>Booking created: {{ book.created }}</li>
      <li>For {{ book.date }} on {{ book.time }}</li>
      <li>Name: {{ user.first_name }} {{ user.last_name }}</li>
      <li>Payment type: {{ book.payment_type }}</li>
      <li>Status: {{ book.status }}</li>
    </ul>
    {% endfor %}
  </body>
</html>
